//colors
$accent: #00BFF3;
$black: #1B1D1F;
$gray: #CCCCCC;
$spacing-border: #979797;
$range-slider-border: #00BFF3;
$table-border-color: #DCDEDF;
$pink: #FF2B9E;
$gray-extra-light: #B5B5B5;
$light-green: #AFDFCF;
$purple: #5D198E;
$light-blue: #19A3D1;
$dark-red: #8C1919;
$light-gray: #F7F7F7;
$white: #FFFFFF;
$warning: #FBAB07;
$error: #FF0000;
$succes: #2BBD00;
$pretty--color-info: $accent;
$grey-light: #52585E;
$dark-blue: #3088D6;
$darker-blue: #3552FF;
$siteplus-purple: #7D7FFF;
