/* box shadows  */
.shadow {
  &--obvious {
    -webkit-box-shadow: $box-shadow-obvious;
    -moz-box-shadow: $box-shadow-obvious;
    box-shadow: $box-shadow-obvious;
  }

  &--distant {
    -webkit-box-shadow: $box-shadow-distant;
    -moz-box-shadow: $box-shadow-distant;
    box-shadow: $box-shadow-distant;
  }

  &--subtle {
    -webkit-box-shadow: $box-shadow-subtle;
    -moz-box-shadow: $box-shadow-subtle;
    box-shadow: $box-shadow-subtle;
  }
}