//general custom input styling
.input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid $gray;
  border-radius: 22.5px;
  box-sizing: border-box;
  &--focus {
    border: 1px solid $accent;
    outline: none;
  }
  &--squared {
    border-radius: 0;
  }

  &:focus {
    border: 1px solid $accent;
    outline: none;
  }
};